[workspace]
resolver = "2"
members = ["terra-core", "terra-res", "terra-gui"]
default-members = ["terra-core", "terra-gui"]

[profile.release]
opt-level = 2

[workspace.dependencies]
anyhow = "1.0.81"
thiserror = "1.0.58"
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.114"
image = { version = "0.25.0", features = ["png"] }
